<div class="container d-flex flex-column justify-content-center align-items-center my-auto">
  <h3>Password recovery instractions was sent to your email</h3>
  <%= link_to "Continue with Store", root_path, class: "btn btn-outline-success mt-3" %>
</div>