<h1>GREAT ADMIN PANEL</h1>

<% @links.each_key do |k| %>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= k %></th>
      </tr>
    </thead>
    <tbody>
      <% @links[k].each do |link_hash| %>
        <tr>
          <td><%= link_to link_hash[:name], link_hash[:link] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

