<div class="container">
  <h1>Passwort recovery for your account on Store</h1>
  <p>To change your password, please click the link below:</p>
  <p><%= link_to "Change password", @link %></p>
  <p>The link will expire in two hours.</p> 
  <p>If you did not request a password reset, please ignore this email, and your password will remain unchanged.</p>
  <p>Best regards,<br> Store</p>
</div>