<div class="container">
  <h1>Welcome to Store</h1>
  <p>To activate your account, please click the link below:</p>
  <p><%= link_to "Activate account", @link %></p>
  <p>If you didn't request this, you can safely ignore this email.</p>
  <p>Best regards,<br> Store</p>
</div>