<% flash.each do |key, value| %>
  <div class="flash-message">less important message</div>
    <div class="alerting-<%= key %>">
      <% case key %>
      <% when "warning" %>
        <i class="fa-solid fa-triangle-exclamation"></i>
      <% when "info" %>
        <i class="fa-solid fa-info"></i>
      <% when "success" %>
        <i class="fa-regular fa-circle-check"></i>
      <% end %>
      <%= value %>
    </div>
  </div>
<% end %>
