<footer class="footer fixed-bottom bg-dark mt-auto">
  <div class="container text-center text-white ">
    © 2024 Copyright:
    <%= link_to "Store", catalog_path, class: 'text-boby'%>
  </div>
</footer>