<footer class="bg-body-tertiary text-center text-lg-start bg-dark text-white">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2024 Copyright:
    <%= link_to "Store", catalog_path, class: 'text-boby'%>
  </div>
  <!-- Copyright -->
</footer>