<footer class="footer text-center text-lg-start bg-dark text-white">
  <div class="container text-center">
    © 2024 Copyright:
    <%= link_to "Store", catalog_path, class: 'text-boby'%>
  </div>
</footer>