<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "Store", catalog_path, class: 'navbar-brand'%>
    <%= link_to "Admin", admin_path, class: 'nav-link text-white'%>
    <div class="navbar-nav ml-auto">
      <%= link_to "(#{ Current.cart&.items&.count }) Cart", cart_path, class: 'nav-item nav-link' %>
      <%= render partial: "shared/profile_navbar", locals: { user: current_user } %>
    </div>
  </div>
</nav>
<div class='mb-5'></div>