<div class="container w-25">
  <% if url.present? %>
    <%= image_tag url, class: "img-fluid rounded-circle", alt: "User profile image" %>
  <% else %>
    <%= image_tag 'users/default.png', class: "img-fluid rounded-circle", alt: "User profile default image" %>
  <% end %>
</div>