<div class="container">
  Email: <%= @order.email %>
  Shipping address: <%= @order.shipping_address %>

  <%= render partial: 'shared/items_table', locals: { items: @order.items, total_amount: @order.total_amount } %>

  Created: <%= @order.created_at %>
</div>