<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-3">
      Select category
      <div class="list-group my-2">
        <ul>
          <%= render_categories(@root_categories) %>
        </ul>
      </div>
      <%= render "filter_form", filter: @filter %>
    </div>
    <div class="col-lg-9">
      <div class="row mt-5 mx-4">
        <%= render(partial: "product_card", collection: @products, as: "product") || "No products" %>
      </div>

      <!-- Pagination links -->
      <div  class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>