  <div class="container">
    <h1>Your order is created!</h1>
    <p>This is a link to your order.</p>
    <p><%= link_to "Check your order", @link %></p>
    <p>Approximate time: infinity</p>
    <p>Thank you!</p>
    <h2><%= link_to "Return to Store", @catalog_url %></h2>
  </div>