/*
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  position: relative;
  margin-top: -50px;
  height: 60px;
  padding-top: 20px;
  color:#fff;
}

.img-200 {
  object-fit: cover;
  object-position: right;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img-70 {
  object-fit: cover;
  object-position: right;
  width: 70px;
  height: 70px;
  overflow: hidden;
}