/*
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  position: relative;
  margin-top: -50px;
  height: 60px;
  padding-top: 20px;
  color:#fff;
}