<div class="container">
  <%= render partial: "shared/activate_user", locals: { user: @user } %>
  <%= @user.email %>, Hi, this is your profile page.
  <hr>
  <% @user.orders.each do |order| %>
    <%= render partial: "shared/order", locals: { order: order } %>
  <% end %>
</div>